export default {
  token: '574f582018c459fce3189e3d1bddc3504f4c697c',
  db: {
    host: '127.0.0.1',
    user: 'root',
    password: '<password>',
    database: '<database_name>',
  },
  git: {
    owner: '<git repository owner name>',
    repository: ''<git repository>'',
  },
};
