export default {
  token: '<github personal access token>',
  db: {
    host: '127.0.0.1',
    user: 'root',
    password: '<password>',
    database: '<database_name>',
  },
  git: {
    owner: '<git repository owner name>',
    repository: ''<git repository>'',
  },
};
